<br>
<div class="row">
  <div class="col">
    <%= link_to( t(:user_create), new_user_path, class: "btn btn-primary btn-label-left") %>
  </div>
    <div class="col text-end">
    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#userSearchFilter">
      <%= t(:search_by_filter) %>
    </button>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <div class="card">
      <h5 class="card-header"><%= t(:users) %></h5>
      <div class="card-body">
        <table class="table table-hover" id="tblIndexUsers">
          <thead>
            <tr>
              <th>#</th>
              <th><%= t(:last_name) %></th>
              <th><%= t(:first_name) %></th>
              <th><%= t(:middle_name) %></th>
              <th><%= t(:role)  %></th>
              <th><%= t(:email) %></th>
              <th><%= t(:sip_number) %></th>
              <th><%= t(:activated_user) %></th>
              <th><%= t(:last_login) %></th>
              <th><%= t(:actions) %><th>
            </tr>
          </thead>
          <%= render 'layouts/notices' %>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.last_name %></td>
                <td><%= user.first_name %></td>
                <td><%= user.middle_name %></td>
                <td><%= user.role.name %></td>
                <td><%= user.email %></td>
                <td><%= user.sip_number %></td>
                <td><%= t(user.activated.to_s) %></td>
                <td><%= user.last_login %></td>
                <td>
                  <%= link_to t(:edit), edit_user_path(user), class: "btn btn-warning" %>
                  <%= button_to t(:delete), user_path(user), method: :delete, class: "btn btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate(@users) %>
      </div>
    </div>
  </div>
</div>
<%= render 'modal_filter' %>