<br>
<div class="row">
  <div class="col">
    <%= link_to('Добавить пользователя', new_user_path, class: "btn btn-primary btn-label-left") %>
  </div>
    <div class="col text-end">
    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#userSearchFilter">
      Поиск по фильтру
    </button>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <div class="card">
      <h5 class="card-header">Пользователи</h5>
      <div class="card-body">
        <table class="table table-hover" id="tblIndexUsers">
          <thead>
            <tr>
              <th>#</th>
              <th>Фамилия</th>
              <th>Имя</th>
              <th>Отчество</th>
              <th>Роль</th>
              <th>Email</th>
              <th>SIP номер</th>
              <th>Вход разрешен</th>
              <th>Последний вход</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= link_to user.id, edit_user_path(user) %></td>
                <td><%= user.last_name %></td>
                <td><%= user.first_name %></td>
                <td><%= user.middle_name %></td>
                <td><%= user.role.name %></td>
                <td><%= user.email %></td>
                <td><%= user.sip_number %></td>
                <td><%=t user.activated.to_s %></td>
                <td><%= user.last_login %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate(@users) %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="userSearchFilter" tabindex="-1" aria-labelledby="userSearchFilterTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userSearchFilterTitle">Найти пользователя</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <%= render 'filter' %>
        </div>
      </div>
    </div>
  </div>
</div>