<%= form_with model: @role, html: {class: "form-horizontal", role: "form"}, local: true do |f| %>
  <%= render 'layouts/errors', object: @role %>
  <div class="row">
    <div class="col-4">
      <%= f.label t(:role_name), class: "form-label" %>
      <%= f.text_field :name, class: "form-control", id: "name" %>
    </div>
    <div class="col-4">
      <%= f.label t(:role_description), class: "form-label" %>
      <%= f.text_field :description, class: "form-control", id: "description" %>
    </div>
    <div class="col-4">
      <%= f.label t(:role_permission_management), class: "form-label" %>
      <% if @role.permissions.nil? %>
        <%= select_tag "role[permissions][role]", options_for_select([['Да', 'super'],['Нет', 'oper']]), class: "form-control", id: "role_key" %>
      <% else %>
        <%= select_tag "role[permissions][role]", options_for_select([['Да', 'super'],['Нет', 'oper']], @role.permissions['role']), class: "form-control", id: "role_key" %>
      <% end %>
    </div>
  </div>
  <br>
  <ul class="nav nav-tabs" id="permissionsTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active"
              id="campaigns-tab"
              data-bs-toggle="tab"
              data-bs-target="#campaigns"
              type="button" role="tab"
              aria-controls="campaigns"
              aria-selected="true">
        <h6><%= t(:campaigns) %>, <%= t(:ingroups) %></h6>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link"
              id="reports-tab"
              data-bs-toggle="tab"
              data-bs-target="#reports"
              type="button"
              role="tab"
              aria-controls="reports"
              aria-selected="false">
        <h6><%= t(:reports) %></h6>
      </button>
    </li>
  </ul>
  <div class="tab-content" id="permissionsTabContent">
    <%= render 'role_form_campaigns_tab' %>
    <%= render 'role_form_reports_tab' %>
  </div>
  <br>
  <div class="text-center">
    <%= link_to( t(:cancel), roles_path, class: "btn btn-warning btn-label-left") %>
    <%= button_tag( t(:save), type: 'submit', class: "btn btn-primary btn-label-left") %>
  </div>
<% end %>