<br>
<div class="row">
  <div class="col">
    <%= link_to('Создать роль', new_role_path, class: "btn btn-primary btn-label-left") %>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <div class="card">
      <h5 class="card-header">Роли</h5>
      <div class="card-body">
        <table class="table table-hover" id="tblIndexRoles">
          <thead>
            <tr>
              <th>#</th>
              <th>Название роли</th>
              <th>Описание</th>
            </tr>
          </thead>
          <tbody>
            <% @roles.each do |role| %>
              <tr>
                <td><%= link_to role.id, edit_role_path(role) %></td>
                <td><%= role.name %></td>
                <td><%= role.description %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate(@roles) %>
      </div>
    </div>
  </div>
</div>