<% @intervals = @result.keys %>
<table class="table table-striped table-bordered table-hover table-heading no-border-bottom table-responsive">
  <thead class="thead-light">
    <tr>
      <th><%= t(:parametr) %></th>
      <% @intervals.each do |i| %>
        <th><%= i %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= t(:min_wait) %></td>
      <% @intervals.each do |i| %>
        <td><%= @result[i][:min_queue] %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= t(:avg_wait) %></td>
      <% @intervals.each do |i| %>
        <td><%= @result[i][:avg_queue] %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= t(:max_wait) %></td>
      <% @intervals.each do |i| %>
        <td><%= @result[i][:max_queue] %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= t(:wait) %> 0-3 <%= t(:minutes) %></td>
      <% @intervals.each do |i| %>
        <td><%= @result[i][:queue_0_3] %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= t(:wait) %> 3-6 <%= t(:minutes) %></td>
      <% @intervals.each do |i| %>
        <td><%= @result[i][:queue_3_6] %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= t(:wait) %> <%= t(:more_6_min) %></td>
      <% @intervals.each do |i| %>
        <td><%= @result[i][:queue_m6] %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= t(:avg_talk) %></td>
      <% @intervals.each do |i| %>
        <td><%= @result[i][:avg_talk] %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= t(:amount_inbound_calls) %></td>
      <% @intervals.each do |i| %>
        <td><%= @result[i][:total_calls] %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= t(:answered_calls) %></td>
      <% @intervals.each do |i| %>
        <td><%= @result[i][:answered] %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= t(:effectivity) %></td>
      <% @intervals.each do |i| %>
        <td><%= @result[i][:effectivity] %></td>
      <% end %>
    </tr>
  </tbody>
</table>