<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th><%= t(:ingroup) %></th>
      <th><%= t(:region) %></th>
      <th><%= t(:calls) %></th>
    </tr>
  </thead>
  <tbody>
    <% @result.each do |row| %>
    <tr>
      <td><%= row.campaign_id %></td>
      <td><%= row.region_name %></td>
      <td><%= row.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>