<%
  ingroups = VicidialInboundGroup.all_map_hash
  statuses = VicidialCampaign.all_statuses_map
%>
<p>
  <%= t(:amount_inbound_calls) %>
  <%= t(:by_filter) %>
  <%= t(:from) %>
  <%= localize_datetime_str(params[:filter][:start_date]) %>
  <%= t(:to) %>
  <%= localize_datetime_str(params[:filter][:stop_date]) %>
</p>
<% @result = @result.paginate(page: params[:page], per_page: 10) %>
<table class="table table-bordered table-hover">
  <thead class="thead-light">
  <tr>
    <th><%= t(:lead) %></th>
    <th><%= t(:ingroup) %></th>
    <th><%= t(:phone) %></th>
    <th><%= t(:call_date) %></th>
    <th><%= t(:status) %></th>
    <th><%= t(:duration) %></th>
    <th><%= t(:operator) %></th>
    <th colspan="2"><%= t(:record) %></th>
  </tr>
  </thead>
  <tbody>
  <% @result.each do |inbound_call| %>
    <tr>
      <td><%= inbound_call[:lead_id] %></td>
      <td><%= inbound_call[:ingroup_name] %></td>
      <td><%= inbound_call[:phone_number] %></td>
      <td><%= localize_datetime inbound_call[:call_date] %></td>
      <td>
        <%= statuses[ingroups[inbound_call[:ingroup_id]][:campaign]][inbound_call[:status]] %>
        <br>
        (<%= inbound_call[:status] %>)
      </td>
      <td><%= seconds_to_ms inbound_call[:record_duration] %></td>
      <td><%= inbound_call[:user_name] %></td>
      <%  @record = record_link(inbound_call) %>
      <td>
        <audio controls class="mp3player"><source src="<%= @record[:path] %>" type="audio/mpeg"></audio>
      </td>
      <td><%= link_to @record[:caption], @record[:path] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate(@result) %>