<p>Оператор <%= VicidialUser.find_by_user(@result[:user]).full_name %> (<%= @result[:user] %>)</p>
<p>
  <%= t(:by_filter) %>
  <%= t(:from) %>
  <%= localize_datetime_str(params[:filter][:start_date]) %>
  <%= t(:to) %>
  <%= localize_datetime_str(params[:filter][:stop_date]) %>
</p>
<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th><%= t(:parametr) %></th>
      <th><%= t(:value) %></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= t(:answered_calls) %></td>
        <td><%= @result[:answered] %></td>
      </tr>
      <tr>
        <td><%= t(:amount_outbound_calls) %></td>
        <td><%= @result[:outbound] %></td>
      </tr>
      <tr>
        <td><%= t(:talk) %> <%= t(:more_5_min) %></td>
        <td><%= @result[:talk_m5] %></td>
      </tr>
      <tr>
        <td><%= t(:max_talk) %></td>
        <td><%= seconds_to_ms(@result[:max_talk]) %></td>
      </tr>
      <tr>
        <td><%= t(:avg_talk) %></td>
        <td><%= seconds_to_ms(@result[:avg_talk]) %></td>
      </tr>
      <tr>
        <td><%= t(:terminate_call) %></td>
        <td><%= @result[:term_by_oper] %></td>
      </tr>
      <tr>
        <td><%= t(:transfers_all) %></td>
        <td><%= @result[:transfer_total] %></td>
      </tr>
      <tr>
        <td><%= t(:transfers_call_center) %></td>
        <td><%= @result[:transfer_oper] %></td>
      </tr>
      <tr>
        <td><%= t(:logged_time) %></td>
        <td><%= seconds_to_ms(@result[:total_time]) %></td>
      </tr>
      <tr>
        <td><%= t(:talk_duration) %></td>
        <td><%= seconds_to_ms(@result[:talk_time]) %></td>
      </tr>
      <tr>
        <td><%= t(:on_pause) %></td>
        <td><%= seconds_to_ms(@result[:pause_time]) %></td>
      </tr>
      <tr>
        <td><%= t(:on_pause) %> Обед</td>
        <td><%= seconds_to_ms(@result[:o_pause]) %></td>
      </tr>
      <tr>
        <td><%= t(:on_pause) %> Плановый перерыв</td>
        <td><%= seconds_to_ms(@result[:pp_pause]) %></td>
      </tr>
      <tr>
        <td><%= t(:on_pause) %> Опрос граждан</td>
        <td><%= seconds_to_ms(@result[:og_pause]) %></td>
      </tr>
      <tr>
        <td><%= t(:on_pause) %> Внесение данных</td>
        <td><%= seconds_to_ms(@result[:vd_pause]) %></td>
      </tr>
      <tr>
        <td><%= t(:on_pause) %> Обучение</td>
        <td><%= seconds_to_ms(@result[:ed_pause]) %></td>
      </tr>
      <tr>
        <td><%= t(:on_pause) %> в статусе Постобработка</td>
        <td><%= seconds_to_ms(@result[:dispo_time]) %></td>
      </tr>
      <tr>
        <td><%= t(:effectivity) %></td>
        <td><%= @result[:effectivity] %></td>
      </tr>
  </tbody>
</table>