<%
  operators = {}
  VicidialUser.select(:user, :full_name).map { |u| operators[u.user] = u.full_name }
%>
<p>
  <%= t(:operators) %>
  <%= t(:by_filter) %>
  <%= t(:from) %>
  <%= localize_datetime_str(params[:filter][:start_date]) %>
  <%= t(:to) %>
  <%= localize_datetime_str(params[:filter][:stop_date]) %>
</p>
<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th><%= t(:id) %></th>
      <th><%= t(:operator_name) %></th>
      <th><%= t(:calls) %></th>
      <th><%= t(:total_time) %></th>
      <th><%= t(:pause) %></th>
      <th><%= t(:avg_pause) %></th>
      <th><%= t(:wait) %></th>
      <th><%= t(:avg_wait) %></th>
      <th><%= t(:talk) %></th>
      <th><%= t(:avg_talk) %></th>
      <th><%= t(:dispo) %></th>
      <th><%= t(:avg_dispo) %></th>
      <th><%= t(:dead) %></th>
      <th><%= t(:avg_dead) %></th>
    </tr>
  </thead>
  <tbody>
    <% @result[:apd1].keys.each do |sip| %>
      <tr>
        <td><%= sip %></td>
        <td><%= operators[sip] %></td>
        <td><%= @result[:apd1][sip][:user_calls] %></td>
        <td><%= seconds_to_hms(@result[:apd1][sip][:user_time])%></td>
        <td><%= seconds_to_hms(@result[:apd1][sip][:user_pause]) %></td>
        <td><%= seconds_to_hms(@result[:apd1][sip][:user_avg_pause]) %></td>
        <td><%= seconds_to_hms(@result[:apd1][sip][:user_wait]) %></td>
        <td><%= seconds_to_hms(@result[:apd1][sip][:user_avg_wait]) %></td>
        <td><%= seconds_to_hms(@result[:apd1][sip][:user_talk]) %></td>
        <td><%= seconds_to_hms(@result[:apd1][sip][:user_avg_talk]) %></td>
        <td><%= seconds_to_hms(@result[:apd1][sip][:user_dispo]) %></td>
        <td><%= seconds_to_hms(@result[:apd1][sip][:user_avg_dispo]) %></td>
        <td><%= seconds_to_hms(@result[:apd1][sip][:user_dead]) %></td>
        <td><%= seconds_to_hms(@result[:apd1][sip][:user_avg_dead]) %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2"><b><%= t(:total_amount) %></b></td>
      <td><b><%= @result[:apd1t][:total_calls] %></b></td>
      <td><b><%= seconds_to_hms(@result[:apd1t][:total_time]) %></b></td>
      <td><b><%= seconds_to_hms(@result[:apd1t][:total_pause]) %></b></td>
      <td><b><%= seconds_to_hms(@result[:apd1t][:total_avg_pause]) %></b></td>
      <td><b><%= seconds_to_hms(@result[:apd1t][:total_wait]) %></b></td>
      <td><b><%= seconds_to_hms(@result[:apd1t][:total_avg_wait]) %></b></td>
      <td><b><%= seconds_to_hms(@result[:apd1t][:total_talk]) %></b></td>
      <td><b><%= seconds_to_hms(@result[:apd1t][:total_avg_talk]) %></b></td>
      <td><b><%= seconds_to_hms(@result[:apd1t][:total_dispo]) %></b></td>
      <td><b><%= seconds_to_hms(@result[:apd1t][:total_avg_dispo]) %></b></td>
      <td><b><%= seconds_to_hms(@result[:apd1t][:total_dead]) %></b></td>
      <td><b><%= seconds_to_hms(@result[:apd1t][:total_avg_dead]) %></b></td>
    </tr>
  </tbody>
</table>

<p>
  <%= t(:pause_codes) %>
  <%= t(:by_filter) %>
  <%= t(:from) %>
  <%= localize_datetime_str(params[:filter][:start_date]) %>
  <%= t(:to) %>
  <%= localize_datetime_str(params[:filter][:stop_date]) %>
</p>
<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th><%= t(:id) %></th>
      <th><%= t(:operator_name) %></th>
      <th><%= t(:logged_time) %></th>
      <th><%= t(:off_pause) %></th>
      <th><%= t(:on_pause) %></th>
      <% @result[:codes].each do |pc| %>
        <th><%= pc.nil? ? t(:no_pause_code) : pause_code(pc) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @result[:apd2].keys.each do |sip| %>
      <tr>
        <td><%= sip %></td>
        <td><%= operators[sip] %></td>
        <td><%= seconds_to_hms(@result[:apd2][sip][:user_time]) %></td>
        <td><%= seconds_to_hms(@result[:apd2][sip][:user_nonpause]) %></td>
        <td><%= seconds_to_hms(@result[:apd2][sip][:user_pause]) %></td>
        <% @result[:codes].each do |pc| %>
          <td><%= seconds_to_hms(@result[:apd2][sip][pc]) %></td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td colspan="2"><b><%= t(:total_amount) %></b></td>
      <td><b><%= seconds_to_hms(@result[:apd2t][:total_time]) %></b></td>
      <td><b><%= seconds_to_hms(@result[:apd2t][:total_pause]) %></b></td>
      <td><b><%= seconds_to_hms(@result[:apd2t][:total_nonpause]) %></b></td>
      <% @result[:codes].each do |pc| %>
        <td><b><%= seconds_to_hms(@result[:apd2t][pc]) %></b></td>
      <% end %>
    </tr>
  </tbody>
</table>