<p>
  <%= t(:amount_outbound_calss_calls) %>
  <%= t(:by_filter) %>
  <%= t(:from) %>
  <%= localize_datetime_str(params[:filter][:start_date]) %>
  <%= t(:to) %>
  <%= localize_datetime_str(params[:filter][:stop_date]) %>
</p>
<% @result = @result.paginate(page: params[:page], per_page: 10) %>
<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th><%= t(:lead) %></th>
      <th><%= t(:campaign) %></th>
      <th><%= t(:phone) %></th>
      <th><%= t(:call_date) %></th>
      <th><%= t(:status) %></th>
      <th><%= t(:duration) %></th>
      <th><%= t(:operator) %></th>
      <th colspan="2"><%= t(:record) %></th>
    </tr>
  </thead>
  <tbody>
    <% @result.each do |outbound_call| %>
      <tr>
        <td><%= outbound_call[:lead_id] %></td>
        <td><%= outbound_call[:campaign_name] %></td>
        <td><%= outbound_call[:phone_number] %></td>
        <td><%= localize_datetime outbound_call[:call_date] %></td>
        <td>
          <%= VicidialCampaign.find(outbound_call.campaign_id).statuses_hash[outbound_call.status] %>
          <br>
          (<%= outbound_call[:status] %>)
        </td>
        <td><%= seconds_to_ms outbound_call[:record_duration] %></td>
        <td><%= outbound_call[:user_name] %></td>
        <%  @record = record_link(outbound_call) %>
        <td>
          <audio controls class="mp3player"><source src="<%= @record[:path] %>" type="audio/mpeg"></audio>
        </td>
        <td><%= link_to @record[:caption], @record[:path] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate(@result) %>