<p>Входящие вызовы за период с <b><%= localize_datetime_str(params[:filter][:start_date]) %></b>
  по <b><%= localize_datetime_str(params[:filter][:stop_date]) %></b>:</p>
  t1 = {}
  @result[0].each do |row|
    t1[[row[:user],row[:status]]] = row[:count]
  end
%>
<table class="table table-striped table-bordered table-hover table-heading no-border-bottom table-responsive">
  <thead class="thead-light">
    <tr>
      <th>Оператор</th>
      <% @result[0].map{|x| x.status}.uniq.each do |s| %>
        <th><%= s %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @result[0].map{|x| x.user}.uniq.each do |u| %>
      <tr>
        <td><%= u %></td>
        <% @result[0].map{|x| x.status}.uniq.each do |s| %>
          <td>
            <%= t1[[u, s]].to_i %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<p>Исходящие вызовы за период с <b><%= localize_datetime_str(params[:filter][:start_date]) %></b>
  по <b><%= localize_datetime_str(params[:filter][:stop_date]) %></b>:</p>
<%
  t2 = {}
  @result[1].each do |row|
    t2[[row[:user],row[:status]]] = row[:count]
  end
%>
<table class="table table-striped table-bordered table-hover table-heading no-border-bottom table-responsive">
  <thead class="thead-light">
    <tr>
      <th>Оператор</th>
      <% @result[1].map{|x| x.status}.uniq.each do |s| %>
        <th><%= s %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @result[1].map{|x| x.user}.uniq.each do |u| %>
      <tr>
        <td><%= u %></td>
        <% @result[1].map{|x| x.status}.uniq.each do |s| %>
          <td>
            <%= t2[[u, s]].to_i %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>