<div class="row">
  <div class="col">
    <div class="text-end">
      <button type="button" class="btn btn-outline-info btn-label-left" data-bs-toggle="modal" data-bs-target="#SearchFilter">
        Поиск по фильтру
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="SearchFilter" tabindex="-1" role="dialog" aria-labelledby="iSearchFilterTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SearchFilterTitle">Фильтр</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
                  <%= form_tag report_path(@report), method: :get, class: "form", role: "form" do %>
            <div class="row">
              <div class="col">
                <%= label_tag :call_date, 'Начальная дата:', class: "form-label" %>
                <%= text_field_tag "[filter][start_date]", nil, class: "form-control",
                                   data: { controller:  "flatpickr",
                                           flatpickr_default_date: Time.now.beginning_of_day
                                   } %>
              </div>
              <div class="col">
                <%= label_tag :call_date, 'Конечная дата:', class: "form-label" %>
                <%= text_field_tag "[filter][stop_date]", nil, class: "form-control",
                                   data: { controller:  "flatpickr",
                                           flatpickr_default_date: Time.now.end_of_day
                                   } %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <%= label_tag :campaign, 'Кампания:', class:"control-label" %>
                <%= select_tag "[filter][campaign]", options_for_select(available_campaigns(current_user)), prompt: 'Все доступные', class: "form-control", id: "campaign_select" %>
              </div>
              <div class="col">
                <%= label_tag :ingroup, 'Ингруппа:', class:"control-label" %>
                <%= select_tag "[filter][ingroup]", options_for_select(available_ingroups(current_user)), prompt: 'Все доступные', class: "form-control", id: "ingroup_select" %>
              </div>
            </div>
            <div class="text-center">
              <%= button_tag('Искать', type: "submit", class: "btn btn-primary btn-label-left") %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>