<nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="http://www.in-serv.ru">
      <img src="/assets/logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
      InservPro
    </a>
    <!-- Nav content -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if current_user.role_key == 'super' %>
          <!-- Dropdown menu Management -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Управление
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to 'Пользователи', (users_path), {class: "dropdown-item"} %></li>
              <li><%= link_to 'Роли', (roles_path), {class: "dropdown-item"} %></li>
            </ul>
          </li>
        <% end %>
        <!-- Dropdown menu Reports -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Отчеты
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% current_user.permitted_reports.each do |r| %>
              <li><%= link_to r.description, (report_path(r)), class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
        <!-- Realtime report -->
        <% if current_user.realtime_permit? %>
          <li class="nav-item">
            <%= link_to Report.find(100).description, (report_path(100)), class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <!-- User prop and logout -->
      <ul class="navbar-nav navbar-right">
        <li class="nav-item nav-last">
          <%= link_to current_user.name, (edit_user_path(current_user.id)), {class: "nav-link"} %>
        </li>
        <li class="nav-item nav-last">
          <%= link_to 'Выйти', (destroy_user_session_path), {class: "nav-link", data: { turbo_method: :delete}} %>
        </li>
      </ul>
    </div>
  </div>
</nav>